# ============================================================
# MAVEN
# ============================================================

**/target/
**/.mvn/

# ============================================================
# JAVA
# ============================================================

**/*.class
**/*.jar
**/*.war
**/*.ear
**/*.log

# ============================================================
# NODE
# ============================================================

**/node_modules/

# ============================================================
# PULUMI
# ============================================================

**/.pulumi/

# Optional:
# Ignore local stack config secrets if desired
# Pulumi.*.yaml

# ============================================================
# IDE FILES
# ============================================================
**/bin/
**/.idea/
**/.vscode/
**/*.iml

# ============================================================
# MACOS
# ============================================================

**/.DS_Store

# ============================================================
# ENV FILES
# ============================================================

**/.env
**/.env.*